
.MMM-CoupEscooters .model {
    padding-left: 0;
    padding-right: 25px;
    mask: url(/modules/MMM-CoupEscooters/scooter.svg) no-repeat 50% 50%;
    display: inline-block;  
    -webkit-mask: url(/modules/MMM-CoupEscooters/scooter.svg) no-repeat 50% 50%;
    width: 12px;
    height: 30px;            
    /*-webkit-mask-size: cover;
    mask-size: cover;*/
    background-color:#aaa;

}

.MMM-CoupEscooters .plate {
    padding-right: 0px;
    text-align: center;
}

.MMM-CoupEscooters .energy {
    padding-left: 20px;
    padding-right: 0;
}

.MMM-CoupEscooters .distance {
    padding-left: 20px;
    padding-right: 0;
}

.MMM-CoupEscooters .scooter_icon {
    width:1em;
}